<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="form">
    <div class="testbox">
        <form action="/">
            <div class="banner">
                <h1>Adicione um novo usuário</h1>
            </div>
            <div class="item">
                <input type="text" name="name" placeholder="Nome completo"/>
                <input type="number" name="age" placeholder="Idade"/>
                <input type="number" name="email" placeholder="Email"/>
            </div>
            <div class="btn-block">
                <button type="submit" href="/">Adicionar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>