<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /*CSS*/
        <% include styles.ejs %>
    </style>

</head>
<body>
<div class="form">
    <div class="testbox">
        <form action="/update-user" method="post">
            <div class="banner">
                <h1>Edite o usuário usuário</h1>
            </div>
            <div class="item">
                <input type="hidden" name="id" value="<%=users.id%>"/>
                <input type="text" name="name" value="<%=users.name%>"/>
                <input type="number" name="age" value="<%=users.age%>"/>
                <input type="text" name="email" value="<%=users.email%>"/>
            </div>
            <div class="btn-block">
                <button class="btn-edit" type="submit">OK</button>
                <a>
                    <a href="/">
                        <button>VOLTAR</button>
                    </a>

                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>




