<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="edit" class="w3-modal">
    <div class="modal">
        <form action="/">
            <h2>Editar o usuário:</h2>
            <div class="item">
                <input type="text" name="name" placeholder="Nome completo"/>
                <input type="number" name="age" placeholder="Idade"/>
                <input type="number" name="email" placeholder="E-mail"/>
            </div>
            <div class="options">
                <button class="btn">Yes</button>
                <button class="btn" onclick="document.getElementById('edit').style.display='none'">No</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>




