<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html, body {
            min-height: 100%;
        }

        body, div, form, input, select, textarea, p {
            padding: 0;
            margin: 0;
            outline: none;
            font-size: 14px;
            color: #666;
            line-height: 22px;
        }

        h1 {
            position: absolute;
            margin: 0;
            font-size: 32px;
            color: #fff;
            z-index: 2;
        }

        input {
            width: calc(50% - 10px);
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;

        }

        form {
            width: calc(50% - 10px);
            text-align: center;
            padding: 20px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 0 20px 0 #EA899A;
        }

        button {
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #EA899A;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background: #FCB7A2;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #EA899A;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 22px 25px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #EA899A;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #EA899A;
        }

        .testbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 20px;
        }

        .banner {
            position: relative;
            height: 100px;
            border-radius: 5px;
            background: #EA899A;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .item {
            position: relative;
            margin: 10px 0;
        }

        .btn-block {
            margin-top: 10px;
            text-align: center;
        }

        .btn-edit{
            background-color: #009879;
            width: 100px;
        }

        .btn-delete{
            background-color: darkred;
            width: 100px;
        }
    </style>
</head>
<body>

</body>
</html>


